body{
    font-size: 20px;
    line-height: 26px;
    font-family: "Verdana, Geneva, sans-serif";
    color: #777;
    padding-left: 340px;
}
div{
	border: solid 3px rgb(114, 114, 114);
    padding: 10px;
    background-color: rgb(236, 236, 236);
    margin: 10px;
    width: 25%;
}
h1{
    font-size: 30pt;
    font-weight: bold; 
    text-align: center;
    font-family: "Verdana, Geneva, sans-serif";
    color: #123a2d;
    font-size: 30px;
	line-height: 49px;
	border-bottom: 3px solid #ddd;
	padding-bottom: 20px;
}
h2{
font-family: "Verdana, Geneva, sans-serif";
font-weight: 700;
color: #123a2d;
font-size: 22px;
}
h3{
	font-weight: bold;
    text-align: center;
    font-family: "Verdana, Geneva, sans-serif";
    color: #123a2d;
    font-size: 22px;
}
div.header, div.gems{
    background-color: #b9f8e3;
}
div.header, div.instructions{
    width: 65%;
}
.numberToMatch, .winsAndLosses, .userTotal{
	float: left;
	width: 50%;
	height: 100px;
}
.gems{
    clear: both;
    width: 50%;
}
.crystalPic{
	height: 60px;
    margin: 10px;
}

@media screen and (max-width: 640px) {

	.container{
		margin-left: 130px;
		margin-right: 130px;
		max-width: 640px;
	}
	.main-section, .container{
		width: 75%;
		float: none;
		margin-right: 1px
	}
	.auth-image{
		width: 100%;
		float: none;
	}
	#logo, nav{
		width: 100%;
		float: none;
	}
}